.Problem{
    /* margin-bottom: 30px; */
    margin-top: 45px;
    background-color: black;
    color:white ;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Solution{
    /* background-color: #f7c114 !important; */
    background-color: #f7c114 !important;
    color: black !important;
    /* color: black !important; */
    /* margin-bottom: 30px; */
    margin-top: 45px;
    background-color: black;
    color:white ;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Arranger{
    display: grid;
    grid-template-columns: 5fr 5fr;
}

@media only screen and (max-width: 1024px) {
    .Problem{
        margin-bottom: 0px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .Arranger{
        display: flex;
        flex-direction: column;
    }

    .Solution{
        margin-top: 0%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 20px;
    }
}

.ProblemList{
    list-style-image: url("../../img/tick.png");
}

.SolutionList{
    list-style-image: url("../../img/check.png");
}
